Host mini
    HostName ivans.world
    Port 2222
    User ivan

Host vps
    HostName 192.3.16.75
    User root

Host pc
    HostName batman
    User familypc

Host *
    IdentityFile ~/.ssh/id_ed25519
    SetEnv TERM=xterm-256color
